# Laravel Backend
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php_cs.cache

# Vue.js Frontend
/frontend/node_modules
/frontend/dist
/frontend/.env
/frontend/.env.local
/frontend/.env.*.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/coverage
/frontend/.nyc_output

# IDE & Editor files
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.swp
*.swo
.DS_Store
Thumbs.db

# Docker
.docker
docker-compose.override.yml

# Misc
*.log
*.cache
*.bak
*.tmp
*.temp 